<div id="game-page">
    <div class="title">Game Lobby <span class="gameid"></span></div>
    <div class="board">
        <div class="grid black" y=7 x=0></div>
    	<div class="grid white" y=7 x=1></div>
    	<div class="grid black" y=7 x=2></div>
    	<div class="grid white" y=7 x=3></div>
    	<div class="grid black" y=7 x=4></div>
    	<div class="grid white" y=7 x=5></div>
    	<div class="grid black" y=7 x=6></div>
    	<div class="grid white" y=7 x=7></div><br />
    	<div class="grid white" y=6 x=0></div>
    	<div class="grid black" y=6 x=1></div>
    	<div class="grid white" y=6 x=2></div>
    	<div class="grid black" y=6 x=3></div>
    	<div class="grid white" y=6 x=4></div>
    	<div class="grid black" y=6 x=5></div>
    	<div class="grid white" y=6 x=6></div>
    	<div class="grid black" y=6 x=7></div><br />
    	<div class="grid black" y=5 x=0></div>
    	<div class="grid white" y=5 x=1></div>
    	<div class="grid black" y=5 x=2></div>
    	<div class="grid white" y=5 x=3></div>
    	<div class="grid black" y=5 x=4></div>
    	<div class="grid white" y=5 x=5></div>
    	<div class="grid black" y=5 x=6></div>
    	<div class="grid white" y=5 x=7></div><br />
    	<div class="grid white" y=4 x=0></div>
    	<div class="grid black" y=4 x=1></div>
    	<div class="grid white" y=4 x=2></div>
    	<div class="grid black" y=4 x=3></div>
    	<div class="grid white" y=4 x=4></div>
    	<div class="grid black" y=4 x=5></div>
    	<div class="grid white" y=4 x=6></div>
    	<div class="grid black" y=4 x=7></div><br />
    	<div class="grid black" y=3 x=0></div>
    	<div class="grid white" y=3 x=1></div>
    	<div class="grid black" y=3 x=2></div>
    	<div class="grid white" y=3 x=3></div>
    	<div class="grid black" y=3 x=4></div>
    	<div class="grid white" y=3 x=5></div>
    	<div class="grid black" y=3 x=6></div>
    	<div class="grid white" y=3 x=7></div><br />
    	<div class="grid white" y=2 x=0></div>
    	<div class="grid black" y=2 x=1></div>
    	<div class="grid white" y=2 x=2></div>
    	<div class="grid black" y=2 x=3></div>
    	<div class="grid white" y=2 x=4></div>
    	<div class="grid black" y=2 x=5></div>
    	<div class="grid white" y=2 x=6></div>
    	<div class="grid black" y=2 x=7></div><br />
    	<div class="grid black" y=1 x=0></div>
    	<div class="grid white" y=1 x=1></div>
    	<div class="grid black" y=1 x=2></div>
    	<div class="grid white" y=1 x=3></div>
    	<div class="grid black" y=1 x=4></div>
    	<div class="grid white" y=1 x=5></div>
    	<div class="grid black" y=1 x=6></div>
    	<div class="grid white" y=1 x=7></div><br />
    	<div class="grid white" y=0 x=0></div>
    	<div class="grid black" y=0 x=1></div>
    	<div class="grid white" y=0 x=2></div>
    	<div class="grid black" y=0 x=3></div>
    	<div class="grid white" y=0 x=4></div>
    	<div class="grid black" y=0 x=5></div>
    	<div class="grid white" y=0 x=6></div>
    	<div class="grid black" y=0 x=7></div><br />
    </div>
    <div class="turn-text">Next move<div class="turn grid white"></div></div>
</div>
