<div id="game-page">
    <div class="board">
        <div class="grid black" x=7 y=0></div>
    	<div class="grid white" x=7 y=1></div>
    	<div class="grid black" x=7 y=2></div>
    	<div class="grid white" x=7 y=3></div>
    	<div class="grid black" x=7 y=4></div>
    	<div class="grid white" x=7 y=5></div>
    	<div class="grid black" x=7 y=6></div>
    	<div class="grid white" x=7 y=7></div>
    	<div class="grid white" x=6 y=0></div>
    	<div class="grid black" x=6 y=1></div>
    	<div class="grid white" x=6 y=2></div>
    	<div class="grid black" x=6 y=3></div>
    	<div class="grid white" x=6 y=4></div>
    	<div class="grid black" x=6 y=5></div>
    	<div class="grid white" x=6 y=6></div>
    	<div class="grid black" x=6 y=7></div>
    	<div class="grid black" x=5 y=0></div>
    	<div class="grid white" x=5 y=1></div>
    	<div class="grid black" x=5 y=2></div>
    	<div class="grid white" x=5 y=3></div>
    	<div class="grid black" x=5 y=4></div>
    	<div class="grid white" x=5 y=5></div>
    	<div class="grid black" x=5 y=6></div>
    	<div class="grid white" x=5 y=7></div>
    	<div class="grid white" x=4 y=0></div>
    	<div class="grid black" x=4 y=1></div>
    	<div class="grid white" x=4 y=2></div>
    	<div class="grid black" x=4 y=3></div>
    	<div class="grid white" x=4 y=4></div>
    	<div class="grid black" x=4 y=5></div>
    	<div class="grid white" x=4 y=6></div>
    	<div class="grid black" x=4 y=7></div>
    	<div class="grid black" x=3 y=0></div>
    	<div class="grid white" x=3 y=1></div>
    	<div class="grid black" x=3 y=2></div>
    	<div class="grid white" x=3 y=3></div>
    	<div class="grid black" x=3 y=4></div>
    	<div class="grid white" x=3 y=5></div>
    	<div class="grid black" x=3 y=6></div>
    	<div class="grid white" x=3 y=7></div>
    	<div class="grid white" x=2 y=0></div>
    	<div class="grid black" x=2 y=1></div>
    	<div class="grid white" x=2 y=2></div>
    	<div class="grid black" x=2 y=3></div>
    	<div class="grid white" x=2 y=4></div>
    	<div class="grid black" x=2 y=5></div>
    	<div class="grid white" x=2 y=6></div>
    	<div class="grid black" x=2 y=7></div>
    	<div class="grid black" x=1 y=0></div>
    	<div class="grid white" x=1 y=1></div>
    	<div class="grid black" x=1 y=2></div>
    	<div class="grid white" x=1 y=3></div>
    	<div class="grid black" x=1 y=4></div>
    	<div class="grid white" x=1 y=5></div>
    	<div class="grid black" x=1 y=6></div>
    	<div class="grid white" x=1 y=7></div>
    	<div class="grid white" x=0 y=0></div>
    	<div class="grid black" x=0 y=1></div>
    	<div class="grid white" x=0 y=2></div>
    	<div class="grid black" x=0 y=3></div>
    	<div class="grid white" x=0 y=4></div>
    	<div class="grid black" x=0 y=5></div>
    	<div class="grid white" x=0 y=6></div>
    	<div class="grid black" x=0 y=7></div>
    </div>
</div>
