body
{
    background: #ccc;
    color: #333;
    font-family: "Consolas", "Menlo", monospace;
    text-align: center;
}

#header
{
    top: 0;
}

#footer
{
    bottom: 0;
}

#footer, #header
{
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: #ccc;
    background: #333;
}

#welcome-page,
#game-page
{
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

#welcome-page .welcome
{
    margin: 100px auto 0;
}

#welcome-page .new-game-div,
#welcome-page .join-game-div
{
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

#welcome-page .new-game-div
{
    text-align: right;
}

#welcome-page .join-game-div
{
    text-align: left;
}

#welcome-page .new-game-div button,
#welcome-page .join-game-div button
{
    font-size: 18px;
    color: #ccc;
    background: #333;
    border-style: none;
 
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    margin: 30px;
    padding: 5px 10px;
}

#game-page .title
{
    font-size: 24px;
    margin: 40px 0 0;
    font-weight: bold;
}

#game-page .board
{
    margin: 40px auto 10px;
    width: 400px;
    height: 400px;
    border-width: 5px;
    border-style: solid;
    border-color: #555;
}

#game-page .grid.white
{
    background: #ccc;
}

#game-page .grid.black
{
    background: #333;
}

#game-page .grid
{
    width: 50px;
    height: 50px;
    float: left;
    border-style: none;
}

#game-page .grid.turn
{
    float: none;
    display: block;
    margin: 0 auto;
    border-width: 2px;
    border-style: solid;
    border-color: #555;
}

#game-page .grid.turn.white
{
    background: #fff;
}

#game-page .grid.turn.black
{
    background: #000;
}

@keyframes blink {
    to { visibility: hidden; }
}
@-webkit-keyframes blink {
    to { visibility: hidden; }
}
#game-page .grid.blink img
{
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
}

#game-page .grid img
{
  -webkit-filter: drop-shadow(1px 1px 0 #ccc) 
                  drop-shadow(-1px -1px 0 #ccc)
                  drop-shadow(1px -1px 0 #ccc) 
                  drop-shadow(-1px 1px 0 #ccc);

  filter: drop-shadow(1px 1px 0 #ccc) 
          drop-shadow(-1px -1px 0 #ccc)
          drop-shadow(1px -1px 0 #ccc) 
          drop-shadow(1px -1px 0 #ccc);
}

#game-page .turn-text
{
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

#game-page iframe.comet
{
    display: none;
}
