body {
    background: #ccc;
    font-family: "Consolas", "mono", monospace;
    text-align: center;
}

#header
{
    top: 0;
}

#footer
{
    bottom: 0;
}

#footer, #header
{
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: #ccc;
    background: #333;
}

#welcome-page .welcome
{
    margin-top: 50px;
}
